.service--detail__frame {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service__header--bgr {
  height: 100%;
  width: 100%;
  position: relative;
}
.service--bgr__image {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  object-fit: cover;
}
.service--title__frame {
  position: absolute;
  top: 15%;
  right: 3rem;
  padding: 0.5rem;
  gap: 0.5rem;
  width: auto;
  min-width: 40vw;
  max-width: 50vw;
  height: auto;
}
.service--name__style {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--gold-color);
}
.service--title__style {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  color: var(--font-color);
  max-width: 70vw;
}

.service__body--bgr {
  height: auto;
  width: 100%;
}
.service--item__frame {
  display: flex;
  flex-direction: row;
  height: 80vh;
  width: 100%;
  padding: 2rem 1rem 2rem 1rem;
}

.reverse--item {
  flex-direction: row-reverse;
}

.service-item-left__box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 40%;
  height: 100%;
  padding: 1rem;
}
.service-item-left__box > h1 {
  font-weight: 500;
}
.service-item-left__box > h5 {
  font-weight: 500;
  text-transform: uppercase;
}
.service-item-left__box > span {
  font-weight: 300;
  font-size: 1.2rem;
}

.service-item-right__box {
  width: 60%;
  height: 100%;
  padding: 0.5rem;
}
.our--process__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
}
.our--process__span {
  font-size: 1.3rem;
  font-weight: 500;
  min-width: 300px;
  width: auto;
  text-transform: uppercase;
}
.our--process__line {
  height: 1px;
  width: 100%;
  background-color: var(--gold-color);
}
.our--process {
  width: 50%;
  position: relative;
}

.our--process__box {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 0.5rem;
}
.our--process__number {
  display: flex;
  font-size: 5rem;
  text-align: center;
  align-items: center;
  opacity: 0.5;
  color: var(--gold-color);
  font-weight: 900;
  font-style: normal;
}
.our--process__title {
  display: flex;
  flex-direction: column;
}
.our--process__title > h5 {
  font-size: 1rem;
  font-weight: 600;
}
.our--process__title > h3 {
  color: var(--gold-color);
}

.service-item-right__box > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 800px) {
  .service--name__style {
    font-size: 1rem;
  }
  .service--title__style {
    font-size: 1.5rem;
  }
  .service--item__frame {
    flex-direction: column;
    height: 100%;
  }
  .service-item-left__box,
  .service-item-right__box {
    width: 100%;
  }
  .service-item-left__box {
    text-align: justify;
  }
  .our--process__box {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .service--title__frame {
    top: 5%;
    right: 0;
    max-width: 100%;
    width: 100%;
    height: auto;
    gap: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .service--name__style,
  .service--title__style {
    text-align: center;
  }
  .service--name__style {
    font-size: 0.8rem;
  }
  .service--title__style {
    font-size: 1.2rem;
  }
  .service-item-left__box > h1,
  .service-item-left__box > h5 {
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .service--name__style {
    font-size: 0.6rem;
  }
  .service--title__style {
    font-size: 1rem;
  }

  .our--process__line {
    display: none;
  }
}
