.layout__container {
    display         : flex;
    justify-content : center;
    align-items     : center;
    width           : auto;
    height          : auto;
    flex-direction  : column;
    position        : relative;
}

.card-item__layout {
    min-height      : 350px;
    max-height      : 750px;
}