.project-detail__frame {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project__header--bgr {
  height: 100%;
  width: 100%;
  position: relative;
}

.project--bgr__image {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  object-fit: cover;
}
.project--title__frame {
  position: absolute;
  bottom: 20%;
  left: 3rem;
  padding: 0.5rem;
  gap: 0.5rem;
  width: auto;
  min-width: 40vw;
  max-width: 50vw;
  height: auto;
}
.project--name__style {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--gold-color);
}
.project--title__style {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary-color);
  max-width: 70vw;
}
.project__body--bgr {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.project--item__box {
  background-color: white;
  height: 100vh;
  position: relative;
}
.project--item__frame__non--reverse {
  background-color: var(--quaternary-color);
  display: flex;
  flex-direction: row;
  height: 80vh;
  width: 100%;
  padding: 3rem;
}

.project--item__frame__reverse {
  background-color: var(--quaternary-color);
  display: flex;
  flex-direction: row-reverse;
  height: 80vh;
  width: 100%;
  padding: 3rem;
}

.align-image__left {
  left: 0;
}

.align-image__right {
  right: 0;
}

.project-item-left__box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 50%;
  height: 100%;
  padding: 4rem;
}
.project-item-left__box > h5 {
  color: var(--gold-color);
  font-weight: 500;
  text-transform: uppercase;
}
.project-item-left__box > h2 {
  color: var(--primary-color);
  font-weight: 500;
}

.project-item-right__box {
  width: 50%;
  height: 80%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  position: absolute;
  bottom: 0;
}
.project-item-right__box > img {
  width: 80%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 900px) {
  .project--name__style {
    font-size: 1rem;
  }
  .project--title__style {
    font-size: 1.5rem;
  }
  .project--item__box {
    height: auto;
  }
  .project--item__frame__non--reverse {
    height: auto;
    width: 100%;
    padding: 1rem;
    flex-direction: column;
  }
  .project--item__frame__reverse {
    height: auto;
    width: 100%;
    padding: 1rem;
    flex-direction: column;
  }
  
  .project-item-left__box {
    width: 100%;
    padding: 2rem;
  }
  .project-item-right__box {
    width: 100%;
    height: 100%;
    position: relative;
  }
}

@media screen and (max-width: 600px) {
  .project--title__frame {
    bottom: 50%;
    left: 0%;
    max-width: 100%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .project--name__style,
  .project--title__style {
    text-align: center;
  }
  .project-item-left__box > h2,
  .project-item-left__box > h5 {
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  .project--name__style {
    font-size: 0.6rem;
  }
  .project--title__style {
    font-size: 1rem;
  }
}
