.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 2rem;
}

.info-frame {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100vh;
}

.info-left__box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  width: 50%;
  height: 100%;
  padding: 2rem;
  gap: 2rem;
}
.info-about {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--gold-color);
}
.info-header {
  font-size: 3rem;
  font-weight: 400;
  max-width: 90%;
}

.double-quotes__icon {
  color: var(--font-color);
}

.info-header__font {
  color: var(--font-color);
  font-weight: 600;
}

.info-content {
  color: var(--font-color);
  font-size: 1.2rem;
  font-weight: 300;
  text-align: justify;
  max-width: 90%;
  letter-spacing: 0.1rem;
}
.link-button__group {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.link-about__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gold-color);
  width: auto;
  height: 5vh;
  padding: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--gold-color);
}

.link-about__button:hover {
  background-color: var(--gold-color);
  color: var(--primary-color);
  transition: all 0.5s ease-in-out;
}

.info-right__box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50%;
  height: 100%;
}

.background-box {
  background-color: var(--gold-color);
  width: 80%;
  height: 80%;
  position: absolute;
  right: 0;
  top: 0;
}

.info-image {
  width: 80%;
  height: 95%;
  position: absolute;
  left: 0;
  bottom: -1.5rem;
  object-fit: cover;
}

.info-bottom__box {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.info-footer__content {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  background: linear-gradient(to right, var(--font-color) 50%, var(--primary-color) 50%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.line-style {
  content: "";
  background: var(--gold-color);
  height: 1px;
  width: 20vw;
}

@media screen and (max-width: 1250px) {
  .info-frame {
    flex-direction: column;
    height: auto;
  }

  .info-left__box {
    width: 100%;
    height: auto;
    min-height: 500px;
  }

  .info-header,
  .info-content {
    max-width: 80%;
  }

  .info-right__box {
    width: 100%;
    height: auto;
    min-height: 600px;
  }

  .background-box {
    height: 70%;
    width: 80%;
    right: 5rem;
  }
  .info-image {
    width: 70%;
    height: 80%;
    left: 30%;
    top: 5rem;
    object-fit: cover;
  }

  .info-footer__content {
    background: black;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media screen and (max-width: 950px) {
  .background-box {
    height: 80%;
    width: 90%;
    left: 0;
  }
  .info-image {
    width: 90%;
    height: 90%;
    left: 10%;
    top: 10%;
    object-fit: cover;
  }

  .info-bottom__box {
    position: relative;
  }
}

@media screen and (max-width: 650px) {
  .info-container {
    padding: 1.5rem;
  }
  .info-header,
  .info-content {
    max-width: 100%;
  }
  .link-about__button {
    justify-content: center;
    padding: 1rem;
    font-size: 1rem;
  }
  .info-bottom__box {
    display: none;
  }
}
