.outstand-projects__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}
.outstand-project__header {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: auto;
  padding: 4rem 6rem;
}

.outstand--title {
  font-size: 2.5rem;
  font-weight: 600;
  max-width: 60%;
  color: var(--font-color);
}

.display__one-item {
  display: flex;
  justify-content: center;
}

.display__multi-item {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
}

.outstand-project__body {
  align-items: center;
  padding: 4rem;
  width: 100%;
  height: auto;
  overflow: hidden;
}

@media screen and (max-width: 1150px) {
  .outstand-project__body {
    display: grid;
    grid-template-columns: auto;
    gap: 2rem;
    justify-content: center;
  }
}

@media screen and (max-width: 900px) {
  .outstand-project__header {
    justify-content: center;
    padding: 2rem;
  }
  .outstand--title {
    font-size: 2rem;
    text-align: center;
    max-width: 80%;
  }
}
